streamlit
pandas
numpy
seaborn
sklearn
LogisticRegression
SVC
train_test_split
StratifiedKFold
cross_val_score
make_scorer
accuracy_score
f1_score
roc_curve
auc
confusion_matrix
roc_auc_score
recall_score
precision_score
nltk
stopwords
PorterStemmer
mutual_info_classif
classification_report
